@import url('https://fonts.googleapis.com/css?family=Cantarell|Fjalla+One');

body {
	font-family: 'Cantarell', sans-serif;
	background-color: #4d5061;
}

h1 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 4em;
	margin: 1em 0 0;
	color: white;
}

h3 {
	font-size: 1.5em;
	color: white;
}

button {
	text-align: center;
	border: 2px solid #5c80bc;
	border-radius: 5px;
	margin: 7px;
	padding: 3px 10px;
	color: #5c80bc;
	background-color: #e7e247;
}

button:hover {
	background-color: yellow;
}

.intro {
	width: 80%;
	text-align: center;
	margin: 12em auto;
}

.intro h5 {
    position: absolute;
    top: 0;
    left: 0;
    margin: .5em;
    font-size: 1.2em;
    color: white;
}

.intro + a {
	text-decoration: none;
	color: white;
}

.intro + a svg {
	padding: .5em .5em 0;
}

#info svg {
	top: .5em;
    right: .5em;
    position: absolute;
    color: white;
}

#hidden {
	display: none;
}

#main {
	/*border: 1px solid red;*/
}

.trivia-q {
	border: 2px solid #e7e247;
    width: 25%;
    height: 300px;
    margin: 2%;
    padding: 2% 2%;
	float: left;
	background-color: #5c80bc;
	color: white;
	position: relative;
}

.trivia-q h2 {
	font-size: 1.2em;
	margin: 0;
}

.trivia-q ul {
	list-style-type: none;
	padding-left: 1em;
}

.trivia-q a {
	text-decoration: none;
}

.trivia-q a:hover {
	color: yellow;
}

.trivia-q li {
	margin: .5em 0;
	font-size: 1em;
}

.trivia-q li:hover {
	cursor: pointer;
}

.trivia-q h4 a {
	color: #e7e247;
}

.trivia-q h5 {
	color: #e7e247;
}

.fa-check-circle {
	color: lime;
	position: absolute;
    right: .5em;
    bottom: .5em;
}

.fa-times {
	color: red;
	margin: 0 .5em;
}

